#BG{
	background-color:#0abab5;
	border:1px solid black;
	border-radius: 10px;
	text-align:center;
	font-family: 'Roboto Mono', monospace;
}
body{
	background-color:#AADDD9;
}
div img{
	width:1000px;
}
ul#menu{
	margin-left: 50%;
	background-color: #0abab5;
	padding: 0;
	height: 50px;
}

ul#menu li{
	background-color: #000;
	float: left;
	list-style: none;
}

ul#menu li a{
	width:100px;
	color: red;
	text-decoration: none;
	display: block;
	padding: 10px;
	border: black thin solid;
}

ul#menu li a:hover{
	color: black;
	text-decoration: none;
	background-color: #8CD790;
}

	ul#menu li{
		background-color: #AADDD9;
		float: left;
		list-style: none;
	}

	ul#menu li .sous_menu li{
		clear: both;
	}

	ul#menu li .sous_menu{
		display: none;
		padding: 0;
		margin: 0;
		position: absolute;
	}

	ul#menu li:hover .sous_menu{
		display: block;
	}
#log {
	margin-left: 80%;
}

#bouton{
	width:10px;
	height:10px;
}

